!!!
html
  head
    title Africa isn't a country!
    
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/custom.css')
    link(rel='icon', href='/assets/favicon.ico')
    link(href='http://fonts.googleapis.com/css?family=Permanent+Marker', rel='stylesheet', type='text/css')

    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='http://code.highcharts.com/highcharts.js')

    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    meta(content='Africa isnt a country!', name='description')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    meta(charset='utf-8')
    meta(content='Africa is not a country!', name='og:title')
    meta(content='Africa is always depicted as a single bloc. Time for a change.', name='og:description')
    meta(content='http://www.africaisntacountry.com', name='og:url')

  body

    .container!=body

