h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 4em;
  margin-top: 50px;
}
h2 {
  font-size: 1.5em;
}
.insert {
  margin-top: 50px;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.insert img {
  width: 100%;
}
